header {
	background: linear-gradient(to right, #ff416c, #ff4b2b) !important;
	position: fixed !important;
	top: 0 !important;

	img {
		width: 35px;
	}

	a {
		color: white;
		text-decoration: none;
	}
}