.book-image {
	border: 1px solid black;
}

.main-content {
	width: 90%;
	margin: 100px auto;
}

.card {
	margin: 20px;
}

.loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}